body{
    background: white;
    text-align: center;
    font-family: amaranth, sans-serif;
}
header{
    width: 100%;
    max-width: 1024px;

    margin: 0px auto;
}
header .navigator ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 32px auto;
}
header .navigator ul li{
    display: inline;
}
.container{
    width: 100%;
    max-width: 1024px;

    margin: 0px auto;
}
.container-first{
    background: #FFF9F7;

    width: 100%;
    padding: 40px 0px;
}
.container-first p{
    max-width: 600px;

    margin: 32px auto;
}
.btnOrange{
    background-color: #FF671B;
    color: white;
    border-color: transparent;
    border-radius: 2px;

    font-size: 16px;
    padding: 8px 20px;

    font-weight: bold;
}
.btnWhite{
    background-color: transparent;
    color: #341305;
    border-color: transparent;
    border-radius: 2px;

    font-size: 16px;
    padding: 8px 20px;

    font-weight: bold;
}
h1{
    font-size: 64px;
}
h3{
    font-weight: bold;
    margin: 56px auto;
    font-size: 36px;
}
h4{
    font-size: 24px;
}
.container-first p, .container-second p, .container-third p{
    font-size: 18px;
    color: #715A50;
}
footer h4{
    padding: 32px 0px;
    font-size: 18px;
    color: #715A50;
}
.container .container-third p{
    max-width: 600px;

    margin: 44px auto;
}
.container .container-third ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;
}
.container .container-third ul li .section-1{
    background-color: #FFF9F7;
    padding: 60px 76px;
}
.container .container-third ul li .section-2{
    background-color: #341305;
    color: #FFF9F7;
    margin-top: -32px;
    height:40px;

    display: flex;
    align-items: center;
    justify-content: center;
}